# based on pull request https://github.com/github/gitignore/pull/3093

# negate all files is required before make excessions
/*

# we need this
!.gitignore
!README.md

# ignore everything in the root except the "wp-content" directory.
!settings.json

# ignore everything in the "wp-content" directory, except:
# "mu-plugins", "plugins", "themes" directory
# wp-content/*
# !wp-content/mu-plugins/
# !wp-content/plugins/
# !wp-content/themes/